* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.add-btn {
  background-color: #087f23;
  border: 1px solid #4caf50;
  border-radius: 3px;
  color: white;
  height: 36px;
  min-height: 36px;
  min-width: 64px;
  padding: 0 16px;
  vertical-align: middle;
}

.input {
  border: 1px solid gainsboro;
  border-radius: 3px;
  height: 36px;
  min-height: 36px;
  padding: 8px 7px;
}

.module {
  border: 1px solid #eeeeee;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  min-height: 150px;
  min-width: 150px;
  position: absolute;
}

.module__in_out {
  background-color: #f44336;
  border-color: #d32f2f;
}

.module__in {
  background-color: #4CAF50;
  border-color: #388E3C;
}

.module__out {
  background-color: #03A9F4;
  border-color: #0288D1;
}

.module__connect {
  align-items: center;
  background-color: #f44336;
  border: 1px solid #f44336;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 30px;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: calc(50% - 15px);
  vertical-align: middle;
  width: 30px;
}

.module__connect:hover {
  background-color: #e53935;
  border-color: #e53935;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.module__connect__in {
  left: -15px;
}

.module__connect__out {
  right: -15px;
}

.select-type {
  align-items: center;
  display: flex;
  margin-right: 0.5em;
}

.select-type__label {
  margin-right: 0.25em;
}

.workspace {
  --workspace-width: 100vw;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  justify-content: center;
  padding: 2em;
  width: var(--workspace-width);
}

.workspace__drawer {
  border: 1px solid gainsboro;
  border-radius: 3px;
  flex-grow: 1;
  flex-shrink: 0;
}

.workspace__controls {
  display: flex;
  flex: none;
  justify-content: flex-end;
  padding: 1em;
}